@use "sass:map";
/**
* Footer
*/
footer.footer {
  background: $color-yellow;
  padding: map.get($spacing, "md");
  .icons {
    display: flex;
    margin-bottom: 0;
    li {
      margin: 0;
    }
    a {
      display: inline-block;
      padding: 24px;
      margin: 0;
      transition: color .18s ease;
      &:hover {
        color: $color-primary;
        transition: color .18s ease;
      }
    }
  }
}
