@use "sass:map";
@use "sass:math";
@use "sass:color";

/**
* Navbar
*/
.navbar {
  position: sticky;
  top: 0;
  height: 48px;
  z-index: $zindex-sticky;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border-bottom: 1px solid transparent;
  background: url("../images/bg/bg_pink.png") top center repeat;
  box-shadow: 0px 4px 6px -1px color.adjust($color-secondary, $alpha: -1) , 0px 2px 4px -1px color.adjust($color-secondary, $alpha: -1);
  // border-image: linear-gradient($color-mint, $color-secondary, $color-primary);
  // box-shadow: 0px 0px 0px 1px color.adjust($color-primary, $alpha: -0.94);
  //   filter: invert(1);
  // mix-blend-mode: difference;
  transition-property: border-bottom, box-shadow;
  transition-duration: 0.18s;
  transition-timing-function: ease;
}

/**
* Navbar Away from top and for project pages
*/
.navbar.away-from-top,
.navbar.project-navbar {
  // border-color: color.adjust($color-secondary, $alpha: -0.6);
  box-shadow: 0px 4px 6px -1px color.adjust($color-secondary, $alpha: -0.9) , 0px 2px 4px -1px color.adjust($color-secondary, $alpha: -0.94);

  transition-property: border-bottom, box-shadow;
  transition-duration: 0.18s;
  transition-timing-function: ease;
}

/**
* Navbar Logo
*/
.navbar .navbar-logo {
  margin-left: 8px;
  align-self: flex-start;
  z-index: 1;
  transform: scale(1);
  transition: transform ease 0.18s;

  .logo-link {
    border-radius: 50%;
    display: block;
    padding: 4px;
  }

  /**
  * States
  */

  //Active
  &:active {
    transform: scale(0.9);
  }
}

/**
* Navbar with items
*/
.navbar {
  .navbar-items {
    z-index: 1;
    display: flex;
    padding: 0;
    margin: 0;
    position: relative;
    opacity: 1;

    font-family: "VG5000";
    font-size: 1.25rem;
    list-style-type: none;

    /**
    * Item groups
    */
    .nav-item {
      display: inline-flex;
      align-items: center;
      color: $color-primary;
      & > * {
        display: inline-block;
        padding: 0;
      }

      /**
        * Links
        */
      .nav-link {
        position: relative;
        padding: 8px 16px;

        .text {
          display: inline-block;
          transform: translateY(0);
          transition: transform ease 0.18s;
        }

        // Link indicator
        &:before {
          content: "";
          position: absolute;
          top: 4px;
          left: 8px;
          width: calc(100% - 16px);
          height: calc(100% - 8px);
          // width: 86%;
          // height: 84%;
          margin: auto;
          transform: scale(0);
          border-radius: 50%;
          border-width: 2px;
          border-style: solid;
          border-color: transparent;
          transition: transform ease 0.18s;
        }
        &.active {
          &:before {
            transform: scale(1);
            border-color: $color-secondary;
          }
        }

        /**
          *
          * States
          *
        */

        /**
          * Hover
        */

        // Hover indicator
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: radial-gradient(
            $color-yellow,
            rgba(255, 255, 255, 0%) 80%
          );
          opacity: 0;
          z-index: -1;
          transform-origin: bottom center;
          transition: opacity ease 0.18s, transform ease 0.18s;
        }

        //Hover state link
        &:hover {
          // Text up
          .text {
            transform: translateY(-4px);
          }
          // Glow appears
          &:after {
            opacity: 1;
            transition: opacity ease 0.18s, transform ease 0.18s;
          }
        }

        /**
          * Active
          */
        &:active {
          // Text down
          .text {
            transform: translateY(-2px);
          }
          &:after {
            transform: scale(0.8);
          }
        }
      }
      /**
        * Dividers  
        */
      .divider {
        font-family: "Authentic Sans";
        pointer-events: none;
      }
    }
  }

  /**
    *
    * Big Navbar for desktop and big screens.
    *
  */
  &.big-navbar {
    height: 48px;

    .navbar-items {
      height: 100%;
      opacity: 1;

      // Triangle for bubble disappears
      #menu_triangle {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  /**
  * Small navbar for cellphones.
  */
  &.small-navbar .navbar-items {
    // opacity: 0;
    position: absolute;
    top: 72px;
    width: calc(100% - 32px);
    left: 16px;
    flex-flow: column wrap;
    z-index: 1080;
    margin: auto;

    border: 1px solid black;
    border-radius: 8px;
    background: hsl(0, 0%, 100%);

    #menu_triangle {
      position: absolute;
      right: 12px;
      top: -12px;
      width: 16px;
      height: 16px;
    }

    .nav-item {
      &:nth-of-type(2) {
        align-self: center;
      }
      &:nth-of-type(3) {
        align-self: flex-end;
      }
    }
  }
  /**
  * Big navbar
  */
  &.big-navbar .navbar-items {
    #menu_triangle {
      opacity: 0;
      visibility: hidden;
    }
  }
}

/**
* Navbar Items states
  */
.navbar-items.closed-items {
  opacity: 0;
  visibility: hidden;
  // transition: visibility ease .1s .2s;
}
// .navbar-items.open-items {
//   opacity: 1;
//   visibility: visible;
//   #menu_triangle {
//     opacity: 1;
//     visibility: visible;
//   }
// }

/**
* Navbar Toggler (Button)
*/
.navbar .toggler {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2px 8px;
  padding: 8px;
  box-shadow: none;
  background: none;
  border: 0;
  border-radius: 8px;
  opacity: 1;
  // transition: opacity ease 80ms;

  @media screen and (min-width: 577px) {
    opacity: 0;
    visibility: hidden;
  }

  // @include media-breakpoint-up("sm") {
  //   opacity: 0;
  //   visibility: hidden;
  // }

  @include focus-primary;

  .burger-menu {
    margin-bottom: 4px;
    height: 24px;
    width: 40px;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    span {
      display: block;
      width: 100%;
      height: 3px;
      position: absolute;
      left: 0;
      top: 50%;

      background: $color-secondary;

      &:first-of-type {
        top: 0;
      }

      &:nth-of-type(3) {
        top: 100%;
      }
    }
  }
}

/**
* Active nav item
*/
// nav.navbar {
//   .nav-link.active + .active_background {
//     z-index: 0;
//     display: inline-block;
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     border: 1px solid $color-secondary;
//     border-radius: 50%;
//   }
// }
