@use "sass:map";
/**
* Button
*/
.btn {
  font-family: "VG5000";
  padding: 4px;
  border-radius: 0;
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/**
* Button Secondary
*/
.btn.btn-secondary {  
  border: 2px solid map.get($font-color, "dark");
  color: map.get($font-color, "dark");
  background-color: hsl(0, 100%, 100%);
}

/**
* Button Secondary Text w/ Icon
*/

.btn.btn-secondary.text-with-icon {
  text-align: center;
  &>* {
    width: 100%;
  }
}