@use "sass:map";

/**
* Button container
*/
.btn-container {
  text-align: center;
}
/**
* Button
*/
.btn {
  position: relative;
  font-family: "VG5000";
  padding: 4px;
  border-radius: 0;
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  p {
    margin: 0;
  }
  // .content {
  //   position: relative;
  //   z-index: 1;
  // }
}

/**
* Button Secondary
*/
.btn.btn-secondary {  
  background-color: hsl(0, 100%, 100%);
  border: 2px solid map.get($font-color, "dark");
  color: map.get($font-color, "dark");
  // fill: map.get($font-color, "dark");
  // stroke: map.get($font-color, "dark");
  svg {
    fill: map.get($font-color, "dark");
    stroke: map.get($font-color, "dark");
  }
  @include hover-secondary-button;
  @include focus-button;
  // & > * {
  //   color: inherit;
  //   stroke: inherit;
  //   fill: none;
  // }
  // & > * {
  //   color: map.get($font-color, "dark");
  //   stroke: map.get($font-color, "dark");
  //   fill: map.get($font-color, "dark");
  // }
  // svg > * {
  //   stroke: inherit;
  //   fill: inherit;
  //   color: inherit;
  // }
}

/**
* Button Secondary Text w/ Icon
*/

.btn.btn-secondary.text-with-icon {
  text-align: center;
}