@use "sass:map";
@use "sass:color";

/**
  * Button container
*/
.btn-container {
  text-align: center;
}

/**
  *
  * Buttons
  *
  */

$shadow-width: 5px;
$shadow-color: $color-secondary;

.btn {
  padding: 0;
  border-radius: 0;
  display: inline-flex;
  text-align: center;
  align-items: center;
  position: relative;

  // Content
  .content {
    font-family: "VG5000";
    padding: 8px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    box-shadow: inset 0 0 0 2px map.get($font-color, "dark");
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
    transform: translate(0, 0);

    //For transitions
    transition: transform ease 0.18s, box-shadow ease 0.18s;
    p,
    svg {
      transition: color ease 0.18s, stroke ease 0.18s, fill ease 0.18s;
    }

    // Text
    p {
      margin: 0;
    }
  }

  // Arrows for hover
  .edge-right {
    // background: $shadow-color;
    background: linear-gradient(color.adjust($color-yellow, $alpha: -0.2) 60%, color.adjust($color-yellow, $alpha: -0.6));
    width: $shadow-width;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
  }
  .edge-bottom {
    // background: $shadow-color;
    background: linear-gradient(to right, color.adjust($color-mint, $alpha: -.2) 20%, color.adjust($color-secondary, $alpha: -0.4) 55%, color.adjust($color-yellow, $alpha: -0.6) 80%);
    height: $shadow-width;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }

  .arrow-bottom-left {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: $shadow-width solid transparent;
    border-right: $shadow-width solid transparent;
    border-top: $shadow-width solid $color-mint;
    transform: translateX(-$shadow-width) scale(0);
    transition: transform ease 0.18s;
    transform-origin: center bottom 0px;
  }

  .arrow-top-right {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: $shadow-width solid transparent;
    border-right: $shadow-width solid transparent;
    border-bottom: $shadow-width solid $color-yellow;
    transform: translateY(-$shadow-width) scale(0);
    transition: transform ease 0.18s;
    transform-origin: bottom right 0px;
  }

  /**
    * Hover
    */
  &:not([disabled]):hover {
    // Element border
    .content {
      box-shadow: inset 0 0 0 2px $color-secondary;
    }

    // Content colors
    p {
      color: $color-primary;
    }
    svg {
      stroke: $color-primary;
      fill: $color-primary;
    }

    // Arrows Animation
    .arrow-bottom-left {
      transform: translateX(-$shadow-width) scale(1);
    }
    .arrow-top-right {
      transform: translateY(-$shadow-width) scale(1);
    }
    .content {
      transform: translate3d(-$shadow-width, -$shadow-width, 0px);
    }
  }

  /**
    * Active
    */
  &:not([disabled]):active {
    // Arrows Animation
    .arrow-bottom-left {
      transform: translateX(-2px) scale(0.5);
    }
    .arrow-top-right {
      transform: translateY(-2px) scale(0.5);
    }
    .content {
      transform: translate3d(-2px, -2px, 0px);
    }
  }
}

/**
  *
  * Button-Secondary
  *
*/
.btn.btn-secondary {
  background-color: hsl(0, 100%, 100%);
  // border: 2px solid map.get($font-color, "dark");
  border: 0;
  // box-shadow: inset 0 0 0 2px map.get($font-color, "dark");
  color: map.get($font-color, "dark");

  svg {
    fill: map.get($font-color, "dark");
    stroke: map.get($font-color, "dark");
  }

  /**
    * Focus
  */
  @include focus-primary;
}

/**
  * Text w/ Icon
*/
.btn.btn-secondary.text-with-icon {
  text-align: center;
}
