@use "sass:color";
/**
* Mixins
*/

/**
* :Active & :Focus
*/
@mixin active-and-focus {
  &:active:focus {
    box-shadow: none;
    outline-width: thin;
    outline-style: dotted;
    outline-color: $color-mint;
  }
}

/**
* :focus on every element
*/

@mixin focus-primary {
  // On mouse focus only
  &:not([disabled]):focus:not(:focus-visible) {
    outline-style: dotted;
    outline-width: thin;
  }
  // On keyboard focus only
  &:not([disabled]):focus-visible {
    outline: 2px dashed $color-primary;
    box-shadow: none;
  }
}

/**
* :focus on <button>
*/
@mixin focus-button {
  // On mouse focus only
  &:not([disabled]):focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
  }
  // &:not([disabled]):focus:not(:focus-visible) {
  //   box-shadow: 1px 1px 0 0 $color-secondary, 2px 2px 0 0 $color-secondary, 3px 3px 0 0 $color-secondary, 4px 4px 0 0 $color-secondary, 5px 5px 0 0 $color-secondary;
  // }

  // On keyboard focus only
  &:not([disabled]):focus-visible {
    border-color: $color-secondary;
    outline: 4px solid color.adjust($color-secondary, $alpha: -0.75);
  }
}

/**
* :hover on <button>
*/
@mixin hover-button {
  // box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: transform ease 0.2s;

  &:after {
    left: 0px;
    content: "";
    position: absolute;
    top: 0px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    box-shadow: 1px 1px 0 0 $color-secondary, 2px 2px 0 0 $color-secondary,
      3px 3px 0 0 $color-secondary, 4px 4px 0 0 $color-secondary,
      5px 5px 0 0 $color-secondary, 6px 6px 0 0 $color-secondary;
    transition: opacity 0.1s ease-in-out;

    // background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    // transform-origin: top left;
    // transform: translate(-50%, -50%) scale(.8);
    // transform: translate(-4px, -4px) scale(1);
    // transition: transform ease .18s;
    // clip-path: polygon( calc(100% - 8px) 0, 100% 8px, 100% 100%, 8px 100%, 0 calc(100% - 8px), 0 0);
  }

  &:not([disabled]):hover {
    &:after {
      opacity: 1;
    }
  }
}

/**
* :hover secondary-button
*/
@mixin hover-secondary-button {
  @include hover-button;
  transition: all ease-in-out .18s;
  &:not([disabled]):hover {
    border-color: $color-secondary;
    p {
      color: $color-primary;
    }
    svg {
      stroke: $color-primary;
      fill: $color-primary;
    }
    // color: $color-primary;
    // fill: $color-primary;
    // stroke: $color-primary;
  }
}
