@use "sass:map";
/**
* Projects
*/

/**
* Variables
*/

$mobile-breakpoint: "md";

/**
* Project Heading
*/
article.project .project-heading-section {
  position: sticky;
  top: 56px;
  display: inline-flex;
  min-width: calc((100% / 6) * 4);
  max-width: 100%;
  height: 120px;
  z-index: 1; // Set to fix error with overlapping images in the project page.
  // transition: height ease-in-out 180ms 90ms;

  .button-container {
    display: inline-flex;
    height: 100%;
    // width: 64px;
    flex-flow: column wrap;
    margin-right: map.get($spacing, "sm");

    .btn {
      font-size: 14px;
      width: 56px;
      height: 56px;
      flex: 1 0 auto;
      // margin-bottom: 8px;
      // margin: map.get($spacing, "sm");
      &:first-child {
        margin-bottom: 8px;
      }
    }
  }

  .heading-title {
    position: relative;
    padding: 16px;
    display: flex;
    flex: 1;
    align-items: center;
    overflow: hidden;

    background-color: hsl(0, 0%, 100%);
    border: 2px solid black;
    font-family: "VG5000";
    .projectHeading {
      margin: 0;
      z-index: 1;
      font-size: 2.625rem;
    }
    #heading-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      pointer-events: none;
      z-index: 0;
    }
  }
}

/**
* Heading Away from top
*/
article.project .project-heading-section.away-from-top {
  height: 56px;
  // transition: height ease-in-out 180ms;

  .heading-title {
    padding-top: 0;
    padding-bottom: 0;
    align-items: flex-start;
  }

  .projectHeading {
    top: 0;
  }

  .button-container {
    flex-flow: row nowrap;
    .btn:first-child {
      margin-right: 8px;
    }
  }
}

/**
* Small size Project Heading
*/

@include media-breakpoint-down($mobile-breakpoint) {
  article.project .project-heading-section {
    width: 100%;
    display: flex;
    transition: width ease 80ms;
  }
}

/**
* Headers
*/
article.project section {
  h2 {
    position: relative;
    padding: 8px;
    border: 2px solid map.get($font-color, "light");
    display: flex;
    background: radial-gradient(ellipse at top left, $color-mint 0%,hsla(0, 0%, 100%, 0%) 70%);
  
    // Number in header text
    .number {
      margin-right: 32px;
      height: 100%;
    }
  }
  // Section subtitles
  h3 {
    text-decoration: underline;
  }

  // Brief questions
  h4 {
    height: 2rem;
    color: $color-primary;
    font-size: 1.625rem;
  }
}

/**
* Text
*/
article.project .main-text {
  strong {
    color: $color-primary;
  }
  /**
  * Big desktop size
  */
  @include media-breakpoint-up($mobile-breakpoint) {
    position: relative;
    top: 0;
  }
}

/**
  * Images
  */
article.project .image {
  max-width: 100%;
  @include media-breakpoint-up($mobile-breakpoint) {
    $column-size: 1;
    max-width: 94%;
    margin-left: calc(
      ((100% - ((#{$total-columns} - 1) * 32px)) / #{$total-columns}) * #{$column-size}
    );
  }
}

/**
* Images - Captions
*/
article.project figcaption,
article.project .gatsby-resp-image-figcaption {
  margin-top: 8px;

  // Info icon
  &:before {
    content: "i";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;

    color: $color-primary;
    font-family: "Authentic Sans";
    font-weight: bold;
    font-size: 0.7rem;
    line-height: .8rem;
    text-align: center;
    border: 1px solid $color-primary;
    border-radius: 50%;
  }
}

/**
* Sections
*/
article.project section {
  $column-size: 4;

  @include media-breakpoint-up("lg") {
    margin-left: calc(
        (100% - ((#{$total-columns} - 1) * 32px)) / #{$total-columns}
      );
  }

  p:last-child {
    margin-bottom: 0;
  }

  & > p,
  h4,
  h3,
  h2,
  div {
    max-width: 700px;
    width: 100%;

    @include media-breakpoint-up("lg") {
      width: calc(
        (
            ((100% - ((#{$total-columns} - 1) * 32px)) / #{$total-columns}) * #{$column-size}
          ) + (32px * (#{$column-size} - 1))
      );
    }
  }

  /**
  * Section - Details - two column list
  */
  &.details {
    .columns-list {
      display: flex;
      flex-flow: row wrap;
      h3 {
        flex: 1 0 100%;
      }
      dl {
        flex: 50%;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        &:nth-of-type(odd) {
          padding-right: 24px;
        }
        &:nth-of-type(even) {
          margin-left: 0;
          border-left: 2px solid map.get($font-color, "dark");
          padding-left: 24px;
        }
      }
    }
  }
  /**
  * Section - Brief
  */
  &.brief {
    position: relative;
    // List
    dl {
      position: relative;
      margin-left: 64px;
      dt {
        margin-left: 8px;
        color: $color-primary;
        font-family: "VG5000";
        font-size: 1.625rem;
        line-height: 48px;
        font-weight: normal;
      }
      dd {
        margin-left: 24px;
        display: list-item;

      }
    }
    // Arrow svg for list side
    #brief-arrows {
      position: absolute;
      left: 0;
      top: 0;
      margin-left: -64px;
      margin-top: -24px;
      height: 100%;
    }
  }
}
