@use "sass:map";
/**
* Typography styles
*
*/

html,
.root {
  font-family: "Authentic Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: map.get($font-color, "dark");
}

/*
* Headings
*/

.index {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4 {
    font-family: "VG5000", "Authentic Sans", sans-serif;
  }
}

h1,
.h1 {
  font-size: 4.25rem;
  line-height: 4.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

h2,
.h2 {
  font-size: 2.625rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h3,
.h3 {
  font-size: 1.625rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h4,
.h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h5,
.h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

/*
* Text
*
*/
p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Links */
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

/* Let's make sure all's aligned */
hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/**
* Lists
*/
ul.list {
  li {
    margin-bottom: 24px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  p {
    margin-bottom: 0; // For consistent typographic elements.
  }
}

/**
* Inline lists
*/
ul.inline-list {
  li {
    margin-bottom: 0;
  }
}

/**
* List with custom icons
*/
ul.icon-list {
  // Width of the icon, for calculating padding of paragraph.
  $icon-width: calc(#{map.get($spacing, "sm")} * 4);

  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    p {
      // margin-left: calc(#{$icon-width} + 16px);
      margin-left: 16px;
    }
  }
  // Custom icons
  .bullet-icon {
    // position: absolute;
    // left: 0;
    // top: 50%;
    // transform: translateY(-50%);
    flex: 0 0 auto;
    width: $icon-width;
    height: $icon-width;
  }
}
